body{
    background: black;
    font-family: 'Handlee', cursive;
}

.postcard{
    background: white;
    width: 500px;
    margin: auto;
    padding: 20px;
}

.postcard-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.postcard-header img{
    width: 60px;
}

.postcard-body{
    display: flex;
    margin-top: 20px;
}

.left-part{
    width: 50%;
}

.right-part{
    width: 50%;
    display: flex;
    flex-direction: column;
}

.right-part input{
    margin-bottom: 10px;
    border: none;
    border-bottom: 1px solid gray;
}

.postcard-footer{
    text-align: center;
    margin-top: 20px;
}

button{
    padding: 8px 15px;
}